.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #1E1E1E;
}


/* Base color: saturation 0; */

.hljs
{
    color: #DBDBDB;
}

.hljs-keyword,
.hljs-literal,
.hljs-meta,
.hljs-meta-keyword
{
    color: #569BD5;
}

.hljs-class,
.hljs-type
{
    color: #FDD601;
}

.hljs-number
{
    color: #9CCDA7;
}

.hljs-regexp,
.hljs-string,
.hljs-meta-string
{
    color: #D59C84;
}

.hljs-subst
{
    color: #BBFFBB;
}

.hljs-symbol
{
    color: #80FF80;
    font-style: italic;
}

.hljs-function
{
    color: #FF8000;
}

.hljs-variable,
.hljs-params
{
    color: #BCB66B;
}

.hljs-comment {
    color: #3D904A;
}

.hljs-doctag {
    color: #629755;
    font-weight: bold;
}



/* Misc effects */

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}
