name: .NET

env:
  GITHUB_USER: Nihlus
  GITHUB_FEED: https://nuget.pkg.github.com/Remora
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '6.0.x'

    - name: Build
      run: |
        dotnet restore
        dotnet build -c Release --no-restore

    - name: Test
      run: dotnet test -c Release --no-restore --no-build --verbosity minimal

    - name: Package
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      run: dotnet pack -c Release --no-restore --no-build --version-suffix "github$GITHUB_RUN_ID"
    - uses: actions/upload-artifact@v3
      with:
        name: nupkg
        path: nuget/*
  prerelease:
    needs: build
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    runs-on: ubuntu-latest

    steps:
      - name: Download package artifacts
        uses: actions/download-artifact@v3
        with:
          name: nupkg
          path: nuget

      # To ensure that the current version being pushed does not get pruned we prune first.
      - name: Prune packages older than 4 versions (new version is the 5th)
        uses: smartsquaregmbh/delete-old-packages@v0.4.0
        with:
          keep: 4
          names: |
            Remora.Discord
            Remora.Discord.API
            Remora.Discord.API.Abstractions
            Remora.Discord.Caching
            Remora.Discord.Caching.Abstractions
            Remora.Discord.Caching.Redis
            Remora.Discord.Gateway
            Remora.Discord.Extensions
            Remora.Discord.Hosting
            Remora.Discord.Pagination
            Remora.Discord.Interactivity
            Remora.Discord.Commands
            Remora.Discord.Unstable
            Remora.Discord.Rest

      - name: Push to GitHub Feed
        run: |
          for f in ./nuget/*; do
            curl -vX PUT -u "$GITHUB_USER:$GITHUB_TOKEN" -F package=@$f $GITHUB_FEED
          done
