name: Comment on pull request
on:
  workflow_run:
    workflows:
      - .NET
    types:
      - completed

jobs:
  comment:
    runs-on: ubuntu-latest
    if: >
      github.event.workflow_run.event == 'pull_request' &&
      github.event.workflow_run.conclusion == 'success'

    steps:
      - name: Download coverage results
        uses: actions/download-artifact@v4
        with:
          name: coverage
          path: code-coverage-results.md

      - name: Add coverage PR comment
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          recreate: true
          path: code-coverage-results.md

